server:
  port: 8080

spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/begroom?rewriteBatchedStatements=true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 100
          batch_versioned_data: true
        order_updates: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  Prometheus:
    metrics:
      export:
        enabled: true
  influx:
    metrics:
      export:
        enabled: true
        uri: http://localhost:8086
        bucket: k6
        db: k6
        step: 10s
        auto-create-db: true