spring:
  config:
    activate:
      on-profile: test
  task:
    scheduling:
      enabled: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/begroom?useUnicode=true&characterEncoding=UTF8&serverTimezone=Asia/Seoul&rewriteBatchedStatements=true
    username: root
    password: 1234

    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
